* { 
    font-family: 'Fira Sans';
    box-sizing: border-box;
    margin: 0;
}
body{
    background-repeat: no-repeat;
    background-color: #88898f;
}
#heading {
    min-height: 100vh;

    background-image: url(background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#heading h1 {
    font-size: 5em;
    color: #08e5fa;
}
#back {
    position: fixed;
    
    top: 92%;
    left: 95%;

    border: 3px solid #08e5fa;
    border-radius: 10%;

    font-size: x-large;
    color: black;
    
    min-width: 50px;
    min-height: 50px;
    display: flex; 
    align-items: center;
    justify-content : center;
    
    background-color: slategray;
}
footer {
    opacity: 0.3;
    float: right;
    margin: 5px 5px;
    font-size: small;
}
a {
    text-decoration: none;
    color: black;
}
.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.item{
    width: 85vh;
    height: 90vh;
    background: rgba(114, 158, 158, 0.7);
    border-radius: 5%;
    margin: auto;
}
.container {
    display: flex;
    justify-content: space-around;
}
.content {
        margin: 15px 15px;
        font-size: 16px;
}
#page1 {
    min-height: 100vh;

    background-image: url(page1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
