* { 
    font-family: 'Fira Sans';
    box-sizing: border-box;
    margin: 0;
}
body{
    background-repeat: no-repeat;
    background-image: url(background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* 1 Page */
#heading {
    min-height: 100vh;

}
#heading h1 {
    font-size: 5em;
    color: #00ffa6;
}
/*-----------------------------------------*/

/*footer*/
footer {
    opacity: 1;
    float: right;
    margin: 5px 5px;
    font-size: small;
}
/*-----------------------------------------*/


.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



.item{
    width: 90vh;
    height: 95vh;
    border-radius: 5%;
    background-color: #333f51aa !important;
    padding: 0.5%;
    margin: 1%;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 0; 
    padding: auto 1%;
}

.content {
        margin: 15px 15px;
        font-size: 2.04vh;
        color: #c4c6ca;
}

a {
    text-decoration: none;
    color: #69768a;
}
